.tb {
    /* width: 700px; */
    border: 3px solid red;
    position: relative;
}

td {
    border: 1px solid black;
    text-align: center;
    /* margin-left: auto; */
    /* margin-right: auto;} */
}

td>input,
span {
    float: left;
}

td>label {
    float: left;
}

.pwhint {
    width: 178px;
    float: left;
}

.sub {
    /* width: 700px; */
    border: 2px solid blue;
    /* position: absolute; */
    /* left: 0 auto; */
    /* bottom: 0; */
    /* right: 0; */
    
}

th {
    font-weight: bolder;
}

hr {
    color: red;
}

a span {
    text-decoration: underline;
    color: blue;
}