div{
    width: 200px;
}
.sidebar{
    
    border: 1px solid black;
}
.tab-item>ul>li>div{
    border: 1px solid black;
}
input[type=radio]{
    /* display: none; */
}
input[type=radio]:nth-of-type(1):checked
~div.tab-item:nth-of-type(1){
    display: block;
}
input[type=radio]:nth-of-type(1):checked
~div.tab-item:nth-of-type(2){
    display: none;
}
input[type=radio]:nth-of-type(2):checked
~div.tab-item:nth-of-type(2){
    display: block;
}
input[type=radio]:nth-of-type(2):checked
~div.tab-item:nth-of-type(1){
    display: none;
}


