header{
    height: 150px;
}
.header-wrap{
    background-color: green;

}
.header-wrap header{
    width: 100%;
    margin: 0 auto;
}

.container {
    background-color: tomato;
    width: 100%;
    min-width: 1100px;
    min-height: 100%;
    /* margin: -92px 0 -200px 0;
    padding: 92px 0 300px 0; */
}
.page-util {
    display: block;
    position: static;
    width: 100%;
    height: 42px;
}

.inner-wrap {
    background-color: beige;
    width: 1100px;
    margin: 0 auto;
}

.contents {
    width: 100%;
    margin: 0;
    padding: 40px 0 0 0;
}

.contents .contents-inner-wrap {
    width: 1100px;
    margin: 0 auto;
}

.store-main{
    height: 300px;
    margin-top: 12px;
}
.best-goods{
    overflow: hidden;
    float: left;
    width: 700px;
    height: 300px;
}
.flex-box {
    background-color: beige;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    border-radius: 10px;

}
#wrap-footer{
    clear: both;
    
    position: relative;
    width: 100%;
    height: 200px;
}
footer{
    width: 100%;
    background-color: green;
    margin: 0 auto;
    
}
