<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body bgcolor="orange">
    <!-- ctrl / 으로 주석 -->
    <ul>
        <h1><mark><em>LIST</em></mark></h1>
        <li>list 1
            <ul>
                <li>list 1-1</li>
                <li>list 1-2</li>
                <li>list 1-3</li>
                <ul>
                    <li>list 1-3-1</li>
                    <li>list 1-3-2
                        <dl>
                            <dt>Dune</dt>
                            <dd>Im Paul Muad dib Atreidies!</dd>
                            <dd>Duke of Arrakis!</dd>
                        </dl>
                    </li>
                </ul>
            </ul>
        </li>
        <li>
            <div>list 2</div>
            <ul>
                <li>으아악</li>
                <li>으아악</li>
                <li>으아악</li>
            </ul>
        </li>
        <li>list 3</li>
    </ul>
    <ol type="i" start="">
        <li>list 9</li>
        <li>list 5</li>
        <li>list 3</li>
    </ol>
    <dl>
        <dt>Dune</dt>
        <dd>Im Paul Muad dib Atreidies!</dd>
        <dd>Duke of Arrakis!</dd>
    </dl>
    <dt>엥</dt>
    <dd>므ㅓ지</dd>
    <dd>므ㅓ지</dd>
    <dd>므ㅓ지</dd>

    <p><strong>test Test</strong> <small>test Test</small> <em>test Test</em></p>
    <h1>zZZ</h1>
    <h2>zZZ</h2>
    <h3>zZZ</h3>
    <h4>zZZ</h4>
    <h5>zZZ</h5>
    <h6>zZZ</h6>
    <p style="color: red; font-size: 55px;">""""안녕.&nbsp;방가</p><br>
    <hr color="blue">
    <h1>😊😊😂🤣🤣🤣❤❤😎😎</h1><br>
    <hr color="red">
    <p style="size: 50;"> 🤷‍♂️🙌🙌🤞🤞👍👍</p>


    <h1>첫 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;코
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;드.<br>

        live server start - alt + L - O</h1>
</body>

</html>