<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
</head>
<body>
    <button type="button" id="plus">더하기</button>
    <button type="button" id="minus">빼기</button>
    <button type="button" id="divide">나누기</button>
    <button type="button" id="multiply">곱하기</button>
    <script>

        $("#plus").on("click", calcPlus);
        $("#minus").on("click", calcMinus);
        $("#divide").on("click", calcDivide);
        $("#multiply").on("click", calcMultiply);

        function calcPlus(){
            var a = prompt("숫자 입력");
            var b = prompt("숫자 입력");
            a = Number.parseInt(a);
            b = Number.parseInt(b);
            console.log(a + b);
        }
        function calcMinus(){
            var a = prompt("숫자 입력");
            var b = prompt("숫자 입력");
            console.log(a - b);
        }
        function calcDivide(){
            var a = prompt("숫자 입력");
            var b = prompt("숫자 입력");
            console.log(a / b);
        }
        function calcMultiply(){
            var a = prompt("숫자 입력");
            var b = prompt("숫자 입력");
            console.log(a * b);
        }
    </script>
</body>
</html>