<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카페 포스기</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <!-- <link href="/resources/css/reset.css" rel="stylesheet"> -->
    <!-- style 지정 - 각자 실습 -->
    <!--  -->
    <script>
        $(loadedHandler);
        function loadedHandler() {
            $("[type=button]").on("click", calcMenu);
            $("[type=button]").on("click", calcCount);
            $("[type=button]").on("click", calcMenu);
        }

        // 각 메뉴 합계
        function calcMenu() {
            $(".c.in").each(function(idx, item){
                console.log(item);

                $(this).parent().next().children('input.p').val(
                    $(this).parent().prev().text()*$(this).val())
                
            });
        }
        function calcCount(){
            $(".c").val(
                $(".c.in").val().each+=$(".c.in").val()
            );
            console.clear();
            console.log(this);
        }
    </script>
</head>

<body>
    <form>
        <table border="1">
            <tr>
                <th>메뉴</th>
                <th>가격</th>
                <th>수량</th>
                <th>합계</th>
            </tr>
            <tr>
                <td>아메리카노</td>
                <td>2500</td>
                <td><input type="text" name="c1" class="c in" id="ame"></td>
                <td><input type="text" name="c1Price" class="p" readonly></td>
            </tr>
            <tr>
                <td>라떼</td>
                <td>3000</td>
                <td><input type="text" name="c2" class="c in"></td>
                <td><input type="text" name="c2Price" class="p" readonly></td>
            </tr>
            <tr>
                <td>생강라떼</td>
                <td>4500</td>
                <td><input type="text" name="c3" class="c in"></td>
                <td><input type="text" name="c3Price" class="p" readonly></td>
            </tr>
            <tr>
                <td>딸기바나나라떼</td>
                <td>4500</td>
                <td><input type="text" name="c4" class="c in"></td>
                <td><input type="text" name="c4Price" class="p" readonly></td>
            </tr>
            <tr>
                <th colspan="2">합계</th>
                <th><input type="text" name="cTotalCnt" id="cTotalCnt" class="c" readonly></th>
                <th><input type="text" name="cTotalPrice" id="cTotalPrice" class="p" readonly></th>
            </tr>
            <tr>
                <td colspan="4">
                    <input type="button" value="계산하기">
                    <input type="reset">
                </td>
            </tr>
        </table>
    </form>
</body>

</html>