<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>그리드</title>
    <style>
        .container{
            text-align: center;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: 150px;
            grid-gap: 10px;
            padding: 10px;
            border: 1px solid black;
        }
        .item{
            border: 1px solid black;
        }
        .item.a{
            grid-column: 1/-1;
        }
    </style>
</head>
<body>
    <section>
        <h1>메가티켓</h1>
        <div class="container">
            <div class="item a">A</div>
            <div class="item b">B</div>
            <div class="item c">C</div>
            <div class="item d">D</div>
            <div class="item e">E</div>
            <div class="item f">F</div>
            <div class="item g">G</div>
            <div class="item h">H</div>
            <div class="item h">i</div>
        </div>
    </section>
</body>
</html>