<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <title>회원가입</title>
</head>

<body>
    <hr color="red">
    <div class="main">
        <table>
            <tr>
                <span>이름</span>
                <input type="text" name="" id="">
            </tr>
        </table>
        <table>
            <tr>
                <span>아이디</span>
                <input type="text" name="" id="" required autofocus> <a href="#">중복확인</a>
            </tr>
        </table>
        <table>
            <tr>
                <span>비밀번호</span>
                <input type="password" name="pw"> 6자 이상
            </tr>
        </table>
        <table>
            <tr>
                <span>비밀번호 확인</span>
                <input type="password" name="pwcheck">
            </tr>
        </table>
        <table>
            <tr>
                <span>비밀번호 힌트/ 답변</span>
                <select name="" id=""></select>
                <option value="선택하세요"></option>
                <option value="제일 친한 친구의 핸드폰 번호는?"></option>
                <option value="어릴 적 내 별명은?"></option>
                <option value="가장 아끼는 물건은?"></option>
                <option value="좋아하는 동물은?"></option>
                <option value="좋아하는 색깔은?"></option>
                <option value="어머니 성함은?"></option>
                <option value="어머니 성함은?"></option>

            </tr>
        </table>
        <table>
            <tr>
                <span>답변</span>
                <input type="text" name="answer">
            </tr>
        </table>
        <table>
            <tr>
                <span>이메일</span>
                <input type="email" name="email" id="">
            </tr>
        </table>
        <table>
            <tr>
                <span>전화번호</span>
                <input type="text" name="tel" id="">
            </tr>
        </table>
        <table>
            <tr>
                <span>메일/sns 정보 수신</span>
                <input type="radio" name="receive" id="">
            </tr>
        </table>
        <table>
            <tr>
                <span>관심분야</span>
                <input type="checkbox" name="checkbox" id="">
            </tr>
        </table>
    </div>
</body>

</html>