<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url(/css/my.css);

        tbody {
            color: violet !important;
        }
    </style>
    <link href="/css/my.css" rel="stylesheet">
</head>

<body>
    <table border="">
        <colgroup>
            <col style="background-color: yellow;">
            <col>
            <col span="2" style="width: 150px;">
        </colgroup>
        <caption>선물용과 가정용 상품 구성</caption>
        <thead>
            <tr>
                <th>용도</th>
                <th>중량</th>
                <th>개수</th>
                <th>가격</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2">선물용</td>
                <td>3kg</td>
                <td>11~16과</td>
                <td>35,000원</td>
            </tr>
            <tr>
                <td>5kg</td>
                <td>18~26과</td>
                <td>52,000원</td>
            </tr>
            <tr>
                <td rowspan="2">가정용</td>
                <td>3kg</td>
                <td>11~16과</td>
                <td>30,000원</td>
            </tr>
            <tr>
                <td>5kg</td>
                <td>18~26과</td>
                <td>47,000원</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <h1>이미지 삽입</h1>
    <em>짱구</em>
    <br>
    <img src="/img/zzang.jpg" alt="크레용 신짱">
    <hr>
    <h1>프론트엔드 개발자 지원서</h1>
    <div>
        <p>HTML, CSS 자바 스크립트의 기술을 이해하고 실무 경험이 있는 분을 찾습니다.</p>
    </div>
    <hr>
    <form method="" action="">
        <dl>
            <dt><b>개인정보</b></dt>
            <br>
            <dd>
                <label for="name">이름 </label>
                <input type="text" id="name" placeholder="공백 없이 입력하세요">
            </dd>
            <dd>
                <label for="no">연락처 </label>
                <input type="text" id="no">
            </dd>
        </dl>
        <dl>
            <dt><b>지원 분야</b></dt>
            <br>
            <dd>
                <input type="radio" id="publishing">
                <label for="publishing">웹 퍼블리싱</label>
            </dd>
            <dd>
                <input type="radio" id="develop">
                <label for="develop">웹 애플리케이션 개발</label>
            </dd>
            <dd>
                <input type="radio" name="asd">
                <label for="asd">웹 환경 개선</label>
            </dd>
        </dl>
        <b>지원 동기</b>
        <div>
            <br>
            <textarea cols="60" rows="5" placeholder="본사 지원 동기를 간략히 써주세요"></textarea>
        </div>
        <div>
            <input type="submit" value="접수하기">
            <input type="reset" value="다시쓰기">
        </div>
    </form>
</body>

</html>