<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>0308</title>
</head>
<body>
    <h1>0308실습</h1>
    <p>텍스트 단락</p>
    <table border="">
        <tr>
            <td>셀1</td>
            <td>셀2</td>
        </tr>
        <tr>
            <td>셀3</td>
            <td>셀4</td>
        </tr>
    </table>
    이건 p태그를 안썼을때<br>
    이건 p태그를 안썼을때
    <p>이건 p태그를 를썼을때</p>
    <blockquote>그리고 이건 블록쿄트를 썼을때</blockquote>
    <abbr title="Too Much Talker">TMI/abbr줄임말</abbr>
    <p>내가 재밋게 본 영화는 <cite>Dune Part Two</cite>이다</p>
    <p>Im so sorry but i love u <small>다 거짓말</small></p>
    <p>Im so sorry but i love u <sub>아래 첨자를 표시 down</sub></p>
    <p>Im so sorry but i love u <sup>위 첨자를 표시 up</sup></p>
    <p>Im so sorry but i love u <s>취소선 표시 up</s></p>
    <p>Im so sorry but i love u <u>밑줄 표시 up</u></p>
    <hr>
    <h1>목록 만들기</h1>
    ol태그
    <ol type="A" start="-1"> 
        <li>List1</li>
        <li>List2</li>
        <li>List3</li>
    </ol>
    <h5>ul태그</h5>
    <ul> 
        <li>List4</li>
        <li>List5</li>
        <li>List6</li>
    </ul>
    설명 목록
    <dl>
        <dt>이름</dt>
        <dd>값</dd>
    </dl>
    <h1>표 만들기</h1>
    <table border="">
        <caption>표 제목</caption>
        <tr>
            <td>1행 1열</td>
            <td>1행 2열</td>
            <td>1행 3열</td>
        </tr>
        <tr>
            <td>2행 1열</td>
            <td>2행 2열</td>
            <td>2행 3열</td>
        </tr>
    </table>
</body>
</html>