<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <!-- <link href="${pageContext.request.contextPath}/resource/css/reset.css" rel="stylesheet">
    <link href="${pageContext.request.contextPath}/resource/css/mini.core.css" rel="stylesheet">
    <link href="${pageContext.request.contextPath}/resource/css/mini.header.css" rel="stylesheet">
    <link href="${pageContext.request.contextPath}/resource/css/store.css" rel="stylesheet">
    <link href="${pageContext.request.contextPath}/resource/css/layout.css" rel="stylesheet"> -->
    <title>스토어 메인</title>
</head>

<body>
<!-- <%@include file="/WEB-INF/views/header.jsp"%> -->
    <div class="container">
        <div class="inner-wrap">
            <h1 class="tit">스토어</h1>
            <div class="tab-list">
                <ul>
                    <li><a href="http://">새로운 상품</a></li>
                    <li><a href="http://">메가티켓</a></li>
                    <li><a href="http://">팝콘/음료/굿즈</a></li>
                    <li><a href="http://">포인트몰</a></li>
                </ul>
            </div>
            <section class="content">
                <div class="store-main">
                    <div id="ad">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                        <img src="https://www.k-health.com/news/photo/202205/59315_62151_2921.jpg" alt="팝콘">
                    </div>
                </div>
                
                <!-- <div class="tit-util util1">
                    <h3 class="tit">메가티켓</h3>
                    <div class="right">
                        <a href="#">더보기 ></a>
                    </div>
                </div>
                <div class="store-list">
                    <ul class="list">
                        <li class="sold-out">
                            <a href="#">
                                <div class="soldout">SOLD OUT</div>
                                <div class="label event">EVENT</div>
                                <div class="img">
                                    <img src="/img/dummy.jpg" alt="">
                                </div>
                                <div class="info">
                                    <div class="item">
                                        <p class="item-name">[송도 돌비 시네마 오픈] 돌비패스 패키지</p>
                                    </div>
                                    <div class="price">
                                        <p class="sale"><em>60,000</em><span>원</span></p>
                                        <p class="ea"><span>0</span>개 남음</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="soldout">SOLD OUT</div>
                                <div class="label event">EVENT</div>
                                <div class="img">
                                    <img src="/img/dummy.jpg" alt="">
                                </div>
                                <div class="info">
                                    <div class="item">
                                        <p class="item-name">[송도 돌비 시네마 오픈] 돌비패스 패키지</p>
                                    </div>
                                    <div class="price">
                                        <p class="sale"><em>60,000</em><span>원</span></p>
                                        <p class="ea"><span>0</span>개 남음</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li> <a href="#">
                                <div class="soldout">SOLD OUT</div>
                                <div class="label event">EVENT</div>
                                <div class="img">
                                    <img src="/img/dummy.jpg" alt="">
                                </div>
                                <div class="info">
                                    <div class="item">
                                        <p class="item-name">[송도 돌비 시네마 오픈] 돌비패스 패키지</p>
                                    </div>
                                    <div class="price">
                                        <p class="sale"><em>60,000</em><span>원</span></p>
                                        <p class="ea"><span>0</span>개 남음</p>
                                    </div>
                                </div>
                            </a></li>
                        <li>
                            <a href="#">
                                <div class="soldout">SOLD OUT</div>
                                <div class="label event">EVENT</div>
                                <div class="img">
                                    <img src="/img/dummy.jpg" alt="">
                                </div>
                                <div class="info">
                                    <div class="item">
                                        <p class="item-name">[송도 돌비 시네마 오픈] 돌비패스 패키지</p>
                                    </div>
                                    <div class="price">
                                        <p class="sale"><em>60,000</em><span>원</span></p>
                                        <p class="ea"><span>0</span>개 남음</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                
                <div class="tit-util util2">
                    <h3 class="tit">메가티켓</h3>
                    <div class="right">
                        <a href="#">더보기 ></a>
                    </div>
                </div>
                <div class="store-list">
                    <ul class="list">
                        <li class="sold-out">
                            <a href="#">
                                <div class="soldout">SOLD OUT</div>
                                <div class="label event">EVENT</div>
                                <div class="img">
                                    <img src="/img/dummy.jpg" alt="">
                                </div>
                                <div class="info">
                                    <div class="item">
                                        <p class="item-name">[송도 돌비 시네마 오픈] 돌비패스 패키지</p>
                                    </div>
                                    <div class="price">
                                        <p class="sale"><em>60,000</em><span>원</span></p>
                                        <p class="ea"><span>0</span>개 남음</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="soldout">SOLD OUT</div>
                                <div class="label event">EVENT</div>
                                <div class="img">
                                    <img src="/img/dummy.jpg" alt="">
                                </div>
                                <div class="info">
                                    <div class="item">
                                        <p class="item-name">[송도 돌비 시네마 오픈] 돌비패스 패키지</p>
                                    </div>
                                    <div class="price">
                                        <p class="sale"><em>60,000</em><span>원</span></p>
                                        <p class="ea"><span>0</span>개 남음</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li> <a href="#">
                                <div class="soldout">SOLD OUT</div>
                                <div class="label event">EVENT</div>
                                <div class="img">
                                    <img src="/img/dummy.jpg" alt="">
                                </div>
                                <div class="info">
                                    <div class="item">
                                        <p class="item-name">[송도 돌비 시네마 오픈] 돌비패스 패키지</p>
                                    </div>
                                    <div class="price">
                                        <p class="sale"><em>60,000</em><span>원</span></p>
                                        <p class="ea"><span>0</span>개 남음</p>
                                    </div>
                                </div>
                            </a></li>
                        <li>
                            <a href="#">
                                <div class="soldout">SOLD OUT</div>
                                <div class="label event">EVENT</div>
                                <div class="img">
                                    <img src="/img/dummy.jpg" alt="">
                                </div>
                                <div class="info">
                                    <div class="item">
                                        <p class="item-name">[송도 돌비 시네마 오픈] 돌비패스 패키지</p>
                                    </div>
                                    <div class="price">
                                        <p class="sale"><em>60,000</em><span>원</span></p>
                                        <p class="ea"><span>0</span>개 남음</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div> -->
            
        </div>
    </div>

    <footer id="wrap-footer">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nemo voluptatum inventore numquam, deleniti
            suscipit facere ea sed fuga officiis natus consequuntur sequi, ducimus quia soluta optio ex exercitationem
            quidem?</p>
    </footer>
    </div>
</body>

</html>