<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    <title>table test</title>
    <link rel="icon" type="image/x-icon" href="">
</head>

<body>
    <h1>표 태그 중요</h1>
    <span>영역 태그중 inline영역의 대표 주자</span>
    <span>영역 태그중 inline영역의 대표 주자</span>
    <span>영역 태그중 inline영역의 대표 주자</span>
    <span>영역 태그중 inline영역의 대표 주자</span>
    <div>영역 태그중 block영역의 대표 주자</div>
    <div>영역 태그중 block영역의 대표 주자</div>
    <div>영역 태그중 block영역의 대표 주자</div>
    <div>영역 태그중 block영역의 대표 주자</div>
    <h1 id="page1">하이퍼 링크 태그</h1>
    <a href="http://naver.com" target="_blank">링크 외부</a><br>
    <a href="/views/new_page.html"target="_blank">링크 내부 서버 파일</a><br>
    <a href="#page1">링크 페이지 내부1</a><br>
    <a href="#page2">링크 페이지 내부2</a><br>
    <p><b><em><mark><strong>SONNY</strong></mark></em></b></p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/nU4Iao8eCaE?si=7n12oTpD3Wjfn9dK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <p><b><em><mark><strong>양갱밤</strong></mark></em></b></p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/EVJjmMW7eII?si=1YltvtxrJ2nZRsmO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br>
    <a href="https://www.youtube.com/watch?v=fE2h3lGlOsk"target="_blank"><h1>WANNABE - ITZY</h1></a><br>
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fko.wikipedia.org%2Fwiki%2F%25EC%259D%25B8%25EC%258A%25A4%25ED%2583%2580%25EA%25B7%25B8%25EB%259E%25A8&psig=AOvVaw0dxz5GH90jHz5576EurmRy&ust=1709950917973000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCPjckdrN44QDFQAAAAAdAAAAABAE" alt="인스타그램" width="50%">
    <figure id="page2">
        <table border="10">

            <caption>표 1 - caption 표시</caption>
            <thead>
                <tr>
                    <!-- th 제목을 표시. 중앙 정렬 및 굵게 표시 -->
                    <th bgcolor="yellow">행</th>
                    <th bgcolor="yellow">열</th>
                    <th bgcolor="yellow">행</th>
                </tr>
            </thead>
            <tr>
                <td bgcolor="red">일렇게 어떻게</td>
                <td bgcolor="red"> 일렇게 어떻게</td>
                <td bgcolor="red">일렇게 어떻게</td>
            </tr>
            <tbody> <!--써줘야함-->
                <tr>
                    <td bgcolor="orange">삼렇게 어떻게</td>
                    <td bgcolor="orange">삼렇게 어떻게</td>
                    <td bgcolor="orange">삼렇게 어떻게</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td bgcolor="green">어떻게 이렇게</td>
                    <td bgcolor="green">어떻게 이렇게</td>
                    <td bgcolor="green">어떻게 이렇게</td>
                </tr>
            </tfoot>
        </table>
        <figcaptionc>표2 제목1</figcaptionc>
    </figure>
</body>
</html>