<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/test.css" rel="stylesheet">
    <title>Test</title>
</head>

<body>
    <div class="wrap-header">
        <header>

            <nav class="tnb">
                <ul>
                    <li><a href="#">Web</a></li>
                    <li><a href="#">Mobile</a></li>
                    <li><a href="#">Game</a></li>
                    <li><a href="#">Simulation</a></li>
                    <li><a href="#">Data</a></li>
                </ul>
            </nav>


            <nav class="bnb">
                <ul>
                    <li><a href="#">Java</a></li>
                    <li><a href="#">HTML</a></li>
                    <li><a href="#">CSS</a></li>
                    <li><a href="#">JavaScript</a></li>
                    <li><a href="#">jQuery</a></li>
                </ul>
            </nav>

            <div class="logo">
                <h1>logo</h1>
            </div>
        </header>

    </div>
    <div class="wrap-main">
        <section>
            <article>
                <h1>Main Article</h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam id, aliquid dolores ipsa error ipsum
                blanditiis at, totam ex quas, obcaecati ratione repellat laboriosam! Nemo necessitatibus sit dignissimos
                neque exercitationem?
            </article>
            <article>
                <h1>Main Article</h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam id, aliquid dolores ipsa error ipsum
                blanditiis at, totam ex quas, obcaecati ratione repellat laboriosam! Nemo necessitatibus sit dignissimos
                neque exercitationem?
            </article>
            <article>
                <h1>Main Article</h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam id, aliquid dolores ipsa error ipsum
                blanditiis at, totam ex quas, obcaecati ratione repellat laboriosam! Nemo necessitatibus sit dignissimos
                neque exercitationem?
            </article>
            <article>
                <h1>Main Article</h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam id, aliquid dolores ipsa error ipsum
                blanditiis at, totam ex quas, obcaecati ratione repellat laboriosam! Nemo necessitatibus sit dignissimos
                neque exercitationem?
            </article>
        </section>
        <aside>
            <h1>Main Article</h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam id, aliquid dolores ipsa error ipsum
            blanditiis
            at, totam ex quas, obcaecati ratione repellat laboriosam! Nemo necessitatibus sit dignissimos neque
            exercitationem?
        </aside>
    </div>
    <div class="wrap-footer">
        <footer>
            <h1>Main Article</h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam id, aliquid dolores ipsa error ipsum
            blanditiis
            at, totam ex quas, obcaecati ratione repellat laboriosam! Nemo necessitatibus sit dignissimos neque
            exercitationem?
        </footer>
    </div>
</body>

</html>