<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board Write</title>
    <script src="https:/code.jquery.com/jquery-3.7.1.js"></script>
    <link rel="stylesheet" href="/semi/css/reset.css">
    <link rel="stylesheet" href="/semi/css/board_core.css">
    <link rel="stylesheet" href="/semi/css/board_write.css">
</head>
<style>

</style>

<body>
    <div class="wrap-header">
        <header>

        </header>
    </div>
    <div class="wrap-main">
        <div class="container">
            <div class="flexnav">
                <a href="/semi/views/board_community.html" class="flex community">게시판</a>
                <a href="/semi/views/board_faq.html" class="flex faq">FAQ</a>
            </div>
            <div class="location">
                <div class="location notice"><span>게시판</span></div>
                <div class="location community"><span>커뮤니티 > </span></div>
                <div class="location main"><span>메인이미지 > </span></div>
            </div>
            <div class="subject">
                <div>게시판</div>
            </div>
            <div class="contents">
                <div class="board-write">
                    <form action="board_community.html" name="notice" id="notice" method="get">
                        <div class="insert-form">
                            <table>
                                <tr>
                                    <th>작성자</th>
                                    <td>memId</td>
                                </tr>
                                <tr>
                                    <th>제목</th>
                                    <td><input type="text" name="" id="write-title" title="제목 입력"></td>
                                </tr>
                                <tr>
                                    <th>내용</th>
                                    <td><textarea name="" id="write-content" cols="15" rows="5"
                                            title="내용 입력"></textarea></td>
                                </tr>
                                <tr>
                                    <th>첨부파일</th>
                                    <td>
                                        <ul>
                                            <li>
                                                <input type="file" name="" id="file_1">
                                            </li>
                                            <li>
                                                <input type="file" name="" id="file_2">
                                            </li>
                                            <li>
                                                <input type="file" name="" id="file_3">
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="write-btn">
                            <button type="button" id="btn-submit">등록하기</button>
                            <button type="button" id="btn-list">목록</button>
                        </div>
                        <!-- 모달 -->
                        <div class="modal update">
                            <div class="modal_body">
                                <h2>글을 등록하시겠습니까?</h2>
                                <div class="modal-btn">
                                    <button type="submit" id="btn-update-modalok">확인</button>
                                    <button type="button" id="btn-update-modalcancel">취소</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- 모달 목록 -->
                    <div class="modal list">
                        <div class="modal_body">
                            <h2>글 작성을 취소하시겠습니까?</h2>
                            <div class="modal-btn">
                                <button type="submit" id="btn-list-modalok">확인</button>
                                <button type="button" id="btn-list-modalcancel">취소</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap-footer">
        <footer>

        </footer>
    </div>

    <script>
        $(loadedHandler);
        function loadedHandler() {
            $("#btn-submit").on("click", btnUpModalClickHandler);
            $("#btn-update-modalok").on("click", btnUpModalOkClickHandler);
            $("#btn-update-modalcancel").on("click", btnUpModalCancleClickHandler);

            $("#btn-list").on("click", btnListModalClickHandler);
            $("#btn-list-modalok").on("click", btnListModalOkClickHandler);
            $("#btn-list-modalcancel").on("click", btnListModalCancleClickHandler);
        }

        function btnUpModalClickHandler() {
            console.log("모달창 오픈");
            $(".modal.update").css("display", "block");
        }
        function btnUpModalOkClickHandler() {
            console.log("눌림");
            location.href = '/semi/views/board_community.html';

            var htmlVal = '<tr>' +
                '<td class="td no">번호</td>' +
                '<td class="td title">제목</td>' +
                '<td class="td file"></td>' +
                '<td class="td writer">작성자</td>' +
                '<td class="td date">YYYY-MM-DD</td>' +
                '<td class="td hits">5</td>' +
                '<tr>';
            $(".table-body").append(htmlVal);
        }
        function btnUpModalCancleClickHandler() {
            console.log("모달창 닫기");
            $(".modal.update").css("display", "none");
        }

        // 목록 모달
        function btnListModalClickHandler() {
            console.log("모달창 오픈");
            $(".modal.list").css("display", "block");
        }
        function btnListModalOkClickHandler() {
            console.log("눌림");
            location.href = '/semi/views/board_community.html';
        }
        function btnListModalCancleClickHandler() {
            console.log("모달창 닫기");
            $(".modal.list").css("display", "none");
        }
        // $(loadedHandler);
        // function loadedHandler() {
        //     $(".btn.write").on("click", btnWriteHandler);
        // }
        // function btnWriteHandler() {
        //     var htmlVal = '<tr>' +
        //         '<td class="td no">번호</td>' +
        //         '<td class="td title">제목</td>' +
        //         '<td class="td file"></td>' +
        //         '<td class="td writer">작성자</td>' +
        //         '<td class="td date">YYYY-MM-DD</td>' +
        //         '<td class="td hits">5</td>' +
        //         '<tr>';
        //     $(".table-body").append(htmlVal);
        // }
    </script>
</body>

</html>