<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board Notice</title>
    <script src="https:/code.jquery.com/jquery-3.7.1.js"></script>
    <link rel="stylesheet" href="/semi/css/reset.css">
    <link rel="stylesheet" href="/semi/css/board.css">
</head>

<body>
    <div class="wrap-header">
        <header>

        </header>
    </div>
    <div class="wrap-main">
        <div class="container">
            <div class="flexnav">
                <a href="#" class="flex notice">공지사항</a>
                <a href="#" class="flex community">게시판</a>
                <a href="#" class="flex faq">FAQ</a>
            </div>
            <div class="location">
                <div class="location notice"><span>공지사항</span></div>
                <div class="location community"><span>커뮤니티 > </span></div>
                <div class="location main"><span>메인이미지 > </span></div>
            </div>
            <div class="subject">
                <div>공지사항</div>
            </div>
            <div class="search">
                <form action="#">
                    <div class="flexsearch">
                        <input type="text" name="" id="" class="search text">
                        <button type="submit" class="search btn">검색</button>
                    </div>
                </form>
            </div>
            <div class="count">
                <span>436건</span>
            </div>
            <div class="board">
                <div class="board list">
                    <table class="tb board">
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>첨부</th>
                                <th>작성자</th>
                                <th>작성일</th>
                                <th>조회수</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="pageno">
                <div class="flexpage">
                    <div class="no 1"></div>
                    <div class="no 2"></div>
                    <div class="no 3"></div>
                    <div class="no 4"></div>
                    <div class="no 5"></div>
                    <div class="no 6"></div>
                    <div class="no 7"></div>
                    <div class="no 8"></div>
                    <div class="no 9"></div>
                    <div class="no 10"></div>
                    <div class="no next"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap-footer">
        <footer>

        </footer>
    </div>
</body>

</html>