*{
    box-sizing: border-box ;
}
a{
    text-decoration: none;
}

header{

}
.wrap-main{
    width: 100%;
    min-width: 1100px;
    min-height: 100%;
}
.container{
    width: 1100px;
    margin: 0 auto;
}
.flexnav{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;

}
.flex{
    width: 100%;
    text-align: center;
    border: 1px solid black;
    height: 60px;
    padding-top: 20px;
}
.location{
    display: flex;
    float: right;
    padding: 10px 10px 0 10px;
    vertical-align: middle;
}
.location .l{
    padding-top: 20px;
}

.location span{
	padding-top: 10px;
}
/* .location.community span{
	padding-top: 10px;
}
.location.notice span{
	padding-top: 10px;
} */
.subject{
    margin-top: 80px;
    text-align: center;
    font-size: 2.0rem;
    font-weight: bold;
}