<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/mini/css/reset.css">
    <link rel="stylesheet" href="/mini/css/core.css">
    <link rel="stylesheet" href="/mini/css/layout.css">
    <link rel="stylesheet" href="/mini/css/store.css">
    <title>스토어메인2</title>
</head>

<body>


    <header>
        
    </header>
    <section class="container">

        <div class="inner-wrap">
            <div class="location">
                <span>Home</span> <a href="" title="스토어"></a>
            </div>

            <div class="contents">
                <div class="contents-inner-wrap">
                    <h2 class="tit">스토어</h2>
                    <div class="tab-list">
                        <a href="">
                            <div class="list">새로운 상품</div>
                        </a> <a href="">
                            <div class="list">메가티켓</div>
                        </a> <a href="">
                            <div class="list">팝콘/음료/굿즈</div>
                        </a> <a href="">
                            <div class="list">포인트몰</div>
                        </a>
                    </div>
                    <div class="store-main">
                        <div class="best-goods">
                            <a href="">
                                <div class="slogun">
                                    <p class="font-gblue">소중한 분들과 함께</p>
                                    <p class="font-purple">즐거운 관람되세요~</p>
                                </div>
                                <div class="goods">
                                    <p class="name">러브콤보패키지</p>
                                    <p class="txt">2인 관람권 + 러브콤보 [팝콘(L)1 + 탄산음료(R)2]</p>
                                </div>
                                <div class="price">
                                    <p class="sale"><em>32,000</em>
                                    <span>원</span>
                                </p>
                                <p class="original">
                                    <em>36,000 원</em>
                                    
                                </p>
                                </div>
                                <p class="img">
                                    <img src="/img/meagapopup.jpg" alt="">
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="tit-util">
                        <h3 class="tit ticket">메가티켓</h3>
                        <a href="#" class="more">더보기></a>
                    </div>
                    <div class="flex-box">
                        <div class="item">
                            <a href="#" class="item-a">
                                <div class="soldout">SOLD OUT</div>
                                <div class="lable event">EVENT</div>
                                <div class="img">
                                    <img src="/img/megapass.jpg" alt="">
                                </div>
                                <div class="info">
                                    <div class="tit">
                                        <p class="name">[송도 돌비 시네마 오픈] 돌피패스 패키지</p>
                                    </div>
                                    <div class="price">
                                        <p class="sale">
                                            <em>60,000</em> <span>원</span>
                                        </p>
                                        <p class="ea">
                                            <span>0</span> 개 남음
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" class="item-a"> <!-- <div class="soldout">SOLD OUT</div> -->
                                <div class="lable event">EVENT</div>
                                <div class="img">
                                    <img src="/img/megaticket1.jpg" alt="">
                                </div>
                                <div class="info">
                                    <div class="tit">
                                        <p class="name">일반관람권</p>
                                    </div>
                                    <div class="price">
                                        <p class="sale">
                                            <em>60,000</em> <span>원</span>
                                        </p>
                                        <p class="ea">
                                            <span>0</span> 개 남음
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" class="item-a"> <!-- <div class="soldout">SOLD OUT</div> -->
                                <div class="lable event">EVENT</div>
                                <div class="img">
                                    <img src="/img/bg2.jpg" alt="">
                                </div>
                                <div class="info">
                                    <div class="tit">
                                        <p class="name">돌피패스 패키지</p>
                                    </div>
                                    <div class="price">
                                        <p class="sale">
                                            <em>60,000</em> <span>원</span>
                                        </p>
                                        <p class="ea">
                                            <span>0</span> 개 남음
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" class="item-a">
                                <div class="soldout">SOLD OUT</div>
                                <div class="lable event">EVENT</div>
                                <div class="img">
                                    <img src="/img/bg2.jpg" alt="">
                                </div>
                                <div class="info">
                                    <div class="tit">
                                        <p class="name">돌피패스 패키지</p>
                                    </div>
                                    <div class="price">
                                        <p class="sale">
                                            <em>60,000</em> <span>원</span>
                                        </p>
                                        <p class="ea">
                                            <span>0</span> 개 남음
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="tit-util">
                        <h3 class="tit ticket">메가티켓</h3>
                        <a href="#" class="more">더보기></a>
                    </div>
                    <div class="flex-box">
                        <div class="item">
                            <a href="#" class="item-a">
                                <div class="soldout">SOLD OUT</div>
                                <div class="lable event">EVENT</div>
                                <div class="img">
                                    <img src="/img/bg2.jpg" alt="">
                                </div>
                                <div class="info">
                                    <div class="tit">
                                        <p class="name">돌피패스 패키지</p>
                                    </div>
                                    <div class="price">
                                        <p class="sale">
                                            <em>60,000</em> <span>원</span>
                                        </p>
                                        <p class="ea">
                                            <span>0</span> 개 남음
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" class="item-a"> <!-- <div class="soldout">SOLD OUT</div> -->
                                <div class="lable event">EVENT</div>
                                <div class="img">
                                    <img src="/img/bg2.jpg" alt="">
                                </div>
                                <div class="info">
                                    <div class="tit">
                                        <p class="name">돌피패스 패키지</p>
                                    </div>
                                    <div class="price">
                                        <p class="sale">
                                            <em>60,000</em> <span>원</span>
                                        </p>
                                        <p class="ea">
                                            <span>0</span> 개 남음
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" class="item-a"> <!-- <div class="soldout">SOLD OUT</div> -->
                                <div class="lable event">EVENT</div>
                                <div class="img">
                                    <img src="/img/bg2.jpg" alt="">
                                </div>
                                <div class="info">
                                    <div class="tit">
                                        <p class="name">돌피패스 패키지</p>
                                    </div>
                                    <div class="price">
                                        <p class="sale">
                                            <em>60,000</em> <span>원</span>
                                        </p>
                                        <p class="ea">
                                            <span>0</span> 개 남음
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" class="item-a">
                                <div class="soldout">SOLD OUT</div>
                                <div class="lable event">EVENT</div>
                                <div class="img">
                                    <img src="/img/bg2.jpg" alt="">
                                </div>
                                <div class="info">
                                    <div class="tit">
                                        <p class="name">돌피패스 패키지</p>
                                    </div>
                                    <div class="price">
                                        <p class="sale">
                                            <em>60,000</em> <span>원</span>
                                        </p>
                                        <p class="ea">
                                            <span>0</span> 개 남음
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="tit-util">
                        <h3 class="tit ticket">메가티켓</h3>
                        <a href="#" class="more">더보기></a>
                    </div>
                    <div class="flex-box">
                        <div class="item">
                            <a href="#" class="item-a">
                                <div class="soldout">SOLD OUT</div>
                                <div class="lable event">EVENT</div>
                                <div class="img">
                                    <img src="/img/bg2.jpg" alt="">
                                </div>
                                <div class="info">
                                    <div class="tit">
                                        <p class="name">돌피패스 패키지</p>
                                    </div>
                                    <div class="price">
                                        <p class="sale">
                                            <em>60,000</em> <span>원</span>
                                        </p>
                                        <p class="ea">
                                            <span>0</span> 개 남음
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" class="item-a"> <!-- <div class="soldout">SOLD OUT</div> -->
                                <div class="lable event">EVENT</div>
                                <div class="img">
                                    <img src="/img/bg2.jpg" alt="">
                                </div>
                                <div class="info">
                                    <div class="tit">
                                        <p class="name">돌피패스 패키지</p>
                                    </div>
                                    <div class="price">
                                        <p class="sale">
                                            <em>60,000</em> <span>원</span>
                                        </p>
                                        <p class="ea">
                                            <span>0</span> 개 남음
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" class="item-a"> <!-- <div class="soldout">SOLD OUT</div> -->
                                <div class="lable event">EVENT</div>
                                <div class="img">
                                    <img src="/img/bg2.jpg" alt="">
                                </div>
                                <div class="info">
                                    <div class="tit">
                                        <p class="name">돌피패스 패키지</p>
                                    </div>
                                    <div class="price">
                                        <p class="sale">
                                            <em>60,000</em> <span>원</span>
                                        </p>
                                        <p class="ea">
                                            <span>0</span> 개 남음
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" class="item-a">
                                <div class="soldout">SOLD OUT</div>
                                <div class="lable event">EVENT</div>
                                <div class="img">
                                    <img src="/img/bg2.jpg" alt="">
                                </div>
                                <div class="info">
                                    <div class="tit">
                                        <p class="name">돌피패스 패키지</p>
                                    </div>
                                    <div class="price">
                                        <p class="sale">
                                            <em>60,000</em> <span>원</span>
                                        </p>
                                        <p class="ea">
                                            <span>0</span> 개 남음
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer id="wrap-footer">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Dolores nemo voluptatum inventore numquam, deleniti suscipit facere
            ea sed fuga officiis natus consequuntur sequi, ducimus quia soluta
            optio ex exercitationem quidem?</p>
    </footer>
</body>

</html>