<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/mini/css/reset.css">
    <link rel="stylesheet" href="/mini/css/core.css">
    <link rel="stylesheet" href="/mini/css/store_detail.css">
    <title>상품 정보</title>
    <script src="https:/code.jquery.com/jquery-3.7.1.js"></script>
    <script>
        $(loadedHandler);
        function loadedHandler() {
            $(".plus").on("click", plusTotal);
            $(".minus").on("click", minusHandler);
        }

        function plusTotal() {
            $("input.num").val(Number.parseInt($("input.num").val()) + Number.parseInt(1));
            $("div.total").html(Number.parseInt(16000) * Number.parseInt($("input.num").val()) + '원');

        };

        function minusHandler() {
            if($("input.num").val() > 1){
                $("input.num").val(Number.parseInt($("input.num").val()) - Number.parseInt(1));
                // console.log($("price"));
                $("div.total").html(Number.parseInt(16000) * Number.parseInt($("input.num").val())  + '원');
            }else{
                return;
            }
        }

    </script>
</head>

<body>
    <div class="header-wrap">
        <header>

        </header>
    </div>

    <section class="detail container">
        <div class="inner-warp">
            <h2 class="tit">[송도 돌비 시네마 오픈] 돌비패스 패키지</h2>
            <div class="detail flex-box">
                <div class="left">
                    <!-- <p> -->
                    <img src="/mini/img/megaticket1.png" alt="">
                    <!-- </p> -->
                </div>
                <div class="right">
                    <div class="goods-info">
                        <div class="line">
                            <p class="tit"><span>사용극장</span>
                                <span class="txt">송도</span>
                            </p>
                        </div>
                        <div class="line">
                            <p class="tit"><span>유효기간 : </span>
                                <span>2024.01.30 ~ 20255.03.03 사용가능</span>
                            </p>
                        </div>
                        <div class="line">
                            <p class="tit"><span></span>판매수량
                                <span>0/300한정 | 1회 2개 구매가능 | 1인 2개 구매가능</span>
                            </p>
                        </div>
                        <div class="line">
                            <p class="tit"><span>구매 후 취소 : </span>
                                <span>구매 후 취소가 불가한 상품입니다.</span>
                            </p>
                        </div>
                        <div class="line price">
                            <div class="no">
                                <p>수량/금액</p>
                            </div>
                            <div class="count">
                                <button type="button" class="minus">-</button>
                                <input type="text" name="" id="" class="num" value="1">
                                <button type="button" class="plus">+</button>
                            </div>
                            <div class="sum">
                                <div class="total">16000<span>원</span></div>
                            </div>
                        </div>
                        <div class="line submit">
                            <button type="submit">구매</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>